* {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-size: 25px;
    background-color: #FEE6E6;
}


body{
    margin: 0px;
    padding: 0px;
    width: 99dvw;
}

img{
    width: 100px;
    height: auto;
}
a {
    text-decoration: none;
}

/*Barra de navegacion*/
nav{
    background-color: #FEE6E6;
}

 .nombre_marca strong {
    font-family: "Bagel Fat One", system-ui;
    font-style: normal;
    color: #e91e63;
 }

 .nombre_marca{
    font-family: "Tenor Sans", sans-serif;
    font-style: normal;
    color: #ff5cA1;
 }

 ul{
    width: auto;
    list-style: none;
    display: flex;
    align-items: start ;
    gap: 10px;
    padding: 0px;
    margin: 10px
 }

 li{
    align-items: center ;
    width: auto;
 }
 /*Slider*/
/*.slider{
   aspect-ratio: 16:9;
   width: 99dvw;
   position: relative;
   display: flex;
   overflow: hidden;
   scroll-snap-type: x mandatory;
   scrollbar-width: none;
}

.slider img {
   width: 100%;
   left: 0;
   position: sticky;
   object-fit: cover;
   scroll-snap-align: center;
}

.slider::-webkit-scrollbar {
  display: none;            
}

.slider:hover {
  overflow-x: scroll;
}*/
.slider {
  aspect-ratio: 16/9;
  width: 99dvw;
  position: relative;
  display: flex;
  overflow: hidden;                  /* por defecto: sin scroll */
  scroll-snap-type: x mandatory;
}

.slider:hover {
  overflow-x: scroll;               /* scroll solo en hover */
}

.slider::-webkit-scrollbar {
  display: none;                    /* Chrome, Safari, Edge */
}

.slider img {
  flex-shrink: 0;
  width: 100dvw;
  height: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}

 /*Grid Productos*/
 .titulo_seccion_productos{
   font-family: "bagel fat one", system-ui;
   font-style: normal;
   font-size: 50px;
   color: #ff5cA1;
   text-align: center;
 }

 .seleccion_productos{
    width: 99dvw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 }

 .seleccion_productos img{
    border-radius: 16px;
    width: 90%;
    height: auto;
 } 
 
 /*Formulario*/

 form {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
